* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 16px;
    background-color:white;
}
header,
main,
footer,
nav {
    max-width: 800px;
    margin: 0.5rem auto;
    font-family: 'Merriweather', serif;
    justify-content: center;
}



header  div{
    border-radius:15px;
    margin: 0.5rem auto;
    border: 3px solid rgb(39, 164, 54);
    padding: 0.5rem;
    background-color: whitesmoke;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr; 
    
}
header div span{
    grid-column: 2/3;
    background-color: darkgrey;
    border-radius:15px;
}

header img,
footer img {
width: 70%;
}

main {
    border-radius: 15px;
    border: 3px solid rgb(39, 164, 54);
    
    text-align: center;
    
}
main div {
    background-color: whitesmoke;
    border-radius: 15px;
    border: 1px solid black;
    padding: 0.5rem;
    margin: 3px;
}
footer {
    border-radius: 15px;
    border: 3px solid rgb(39, 164, 54);
    background-color: whitesmoke;
    text-align: center;
    align-items: center;
    
}

footer img{
    max-width: 40%;
}

nav ul li a:hover
{     
    background-color: #c6db51;    
}
img{
    padding: 1rem;
    width: 100%;
}


p,
ol
{
    padding: 0.5rem; 
}


nav {
	
	margin: 0 auto;
	max-width: 780px;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: black;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
    background-color: rgb(228, 239, 130);
    border-radius: 15px;
    border: 2px solid rgb(39, 164, 54);	
}

nav li:first-child {
	display: block;
}

nav li {
	display: none;
}

nav a.navbtn::before {
	content: "☰ ";
}

.responsive li {
	display: block;
}

.responsive a.navbtn::before {
	content: "❌ ";
}
