table{
    box-shadow: 0 10px 10px #8edeb3;
}
table, td, th{
    margin: 0 auto;
    padding: 0.4rem;
    border: 2px solid gray;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Merriweather', sans-serif;
    width: 60%;
    max-width: 30rem;

    
}

thead tr:first-child{
    background-color: aliceblue;
   font-size: x-large;
}
thead tr:nth-child(2){
    background-color: aquamarine;
    font-size: larger;
}
tbody tr:nth-child(odd)
 {
    background-color:rgb(240, 225, 161)
}
tbody tr:nth-child(even)
 {
    background-color:antiquewhite;
}


tfoot {
background-color: blanchedalmond;
}